500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "IKONA.ICO"

600 MENUEX MOVEABLE IMPURE LOADONCALL DISCARDABLE
BEGIN
    POPUP "&Gra", , , 0
    BEGIN
        MENUITEM "&Dwie osoby", 1000
        MENUITEM "&Z komputerem", 1001
        MENUITEM "&Wyjœcie", 1002
    END
    POPUP "&Pomoc", , , 0
    BEGIN
        MENUITEM "&O programie", 1100
    END
END

700 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PLANSZA.BMP"
702 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "KRZYZYK.BMP"
703 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "KOLKO.BMP"




